<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for tabla in cuentasbancariaspropietario %}
            <li>Nombre usuario: {{ tabla.usuario.nombre }}</li>
            <li>Nombre banco: {{ tabla.banco }}</li>
            
            <hr>
        {% empty %}
    <li>no hay informacion.</li>
        {% endfor %}
    </ul>
    
</body>
</html>