<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <p>último voto</p>
    <p>votos con una puntuación numérica menor a 3 y que realizó un usuario o cliente en concreto</p>
    <p>Usuarios que no han votado nunca</p>
    <p>Obtener cuentas bancarias de la Caixa o de Unicaja y con un nombre en concreto</p>
    <p>usuarios votos 2023, puntuación igual a 5 con cuenta bancaria</p>
</body>
</html>